<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>
        <a href="{% url 'index' %}">Learning Log</a>
        <span> - </span>
        <a href="{% url 'topics' %}">Tópicos</a> -
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Sair</a> |
            Olá, {{ user.username }}
        {% else %}
            <a href="{% url 'login' %}">Entrar</a> -
            <a href="{% url 'register' %}">Registrar</a>
        {% endif %}
    </p>

    {% block content %}{% endblock content %}
</body>
<footer>
    Rodapé
</footer>
</html>