{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block header %}

<h2>
    <a href="{% url 'topic' topic.id %}" class="link-underline link-offset-1 link-underline-opacity-0 link-underline-opacity-50-hover">{{ topic }}</a>
</h2>

{% endblock header %}

{% block content %}

    <h5>Editar anotação:</h5>

    <form action="{% url 'edit_entry' entry.id %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button 'Salvar' button_class="btn btn-primary" %}
    </form>

{% endblock content %}