{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>Tópicos:</h2>
{% endblock header %}

{% block content %}

    <a href="{% url 'new_topic' %}" class="mb-4 btn btn-primary">Adicionar novos tópicos</a>

    <ul>
        {% for topic in topics %}
            <li>
                <h5>
                    <a href="{% url 'topic' topic.id %}" class="link-underline link-offset-1 link-underline-opacity-0 link-underline-opacity-50-hover">{{ topic }}</a>
                </h5>
            </li>
        {% empty %}
            <h5>
                <li>Não há tópicos adicionais.</li>
            </h5>
        {% endfor %}
    </ul>

{% endblock content %}