{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block header %}

    <h2>Criar conta</h2>

{% endblock header %}

{% block content %}

    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
        <form action="{% url 'register' %}" method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form error_css_class='is-invalid' success_css_class='' %}
    
            <div class="text-center">
                <button name="submit" class="btn btn-primary col-6">Registrar</button>
            </div>
            
            <input type="hidden" name="next" value="{% url 'index' %}" />
        </form>
    </div>

{% endblock content %}